<div class="flex flex-row gap-4 flex-wrap">
  <div *ngFor="let event of events" class="bg-gray-300 p-6 rounded-lg shadow-md w-48 md:w-56 lg:w-64">
    <h2 class="text-xl font-bold">{{ event.eventName }}</h2>
    <p class="text-gray-700">Price: ${{ event.eventPrice }}</p>
    <p class="text-gray-700">Tickets To Release: {{ event.ticketsToRelease }}</p>
    <p class="text-gray-700">Released Tickets: {{ event.releasedTickets }}</p>
    <p class="text-gray-500">Sold Tickets: {{ event.soldTickets }}</p>
    <p class="text-gray-500">Vendor ID: {{ event.createdVendor.userId }}</p>
    <button (click)="toggleEvent(event) "
            class="mt-4 px-4 py-2 text-white font-bold rounded"
            [ngClass]="event.isActive ? 'bg-red-500 hover:bg-red-600' : 'bg-green-500 hover:bg-green-600'">
      {{ event.isActive ? 'Stop' : 'Start' }}
    </button>
  </div>
  <div class="bg-gray-300 p-6 rounded-lg shadow-md w-48 md:w-56 lg:w-64 flex flex-col justify-center items-center">
    <button class="mt-4 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600">
      Add An Event
    </button>
  </div>
</div>
